.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 51px;
}

@media screen and (max-width: 900px) {
    .profile {
        padding-right: 19px;
        padding-left: 19px;
    }
}

@media screen and (max-width: 750px) {
    .profile {
        justify-content: unset;
        flex-direction: column;
    }
}