.popup__close {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
    background-image: url('../../../images/close.svg');
    cursor: pointer;
    border: none;
}

@media screen and (max-width: 600px) {
    .popup__close {
        top: -48px;
        right: 0;
    }
}