.profile__item {
    display: flex;
    gap: 30px;
    align-items: center;
}

@media screen and (max-width: 750px) {
    .profile__item {
       padding-bottom: 30px;
    }
}

@media screen and (max-width: 550px) {
    .profile__item {
       flex-direction: column;
       text-align: center;
    }
}